{% extends "base.html" %}

{% block content %}
    <h1>Articoli scritti da {{ author_name }}</h1>
    {% for articolo in articoli %}
    <li>
        <a href="{% url 'dettaglio_articolo' articolo.id %}" target='blanck_' style="text-decoration: none; color: black;">
            <div class="card">
                <h3 style="padding: 0px;">
                    <h2 style="padding: 0px;">{{ articolo.titolo }}</h2>
                </h3>
                <p>{{ articolo.descrizione_breve |safe}}</p>
                <small><i class="fas fa-user"></i> {{ articolo.autore }} &nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-calendar-alt"></i>{{ articolo.data_pubblicazione|date:"d/m/Y" }}</small>
            </div>
        </a>
    </li>
    {%endfor%}
{% endblock %}
