{% extends 'base.html' %}
{% block title%}
Articoli
{% endblock %}
{% block content %}
    <h1>Articoli</h1>
    <ul>
        {% for articolo in articoli %}
            <li>
                <a href= '{% url 'dettaglio_articolo' articolo.id %}' target='blanck_'><h2>{{ articolo.titolo }}</h2></a>
                <p>{{ articolo.contenuto }}</p>
                <small>Scritto da {{ articolo.autore }} il {{ articolo.data_pubblicazione|date:"d/m/Y" }}</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
