{% extends 'base.html' %}
{% block title%}
Articoli
{% endblock %}
{% block content %}
   <div style="display: flex; align-items: center; justify-content: space-between;">
        <h1>Articoli</h1>
        <form>
            <fieldset>
                <legend>Ordina per: </legend>
                <select name="ordinamento">
                    <option selected="selected">Più recenti</option>
                    <option>Meno recenti</option>
                    <option>I più piaciuti</option>
                </select>
            </fieldset>
        </form>
   </div>

    <ul>
        {% for articolo in articoli %}
            <li>
                <a href= '{% url 'dettaglio_articolo' articolo.id %}' target='blanck_'><h2>{{ articolo.titolo }}</h2></a>
                <p>{{ articolo.descrizione_breve }}</p>
                <small>Scritto da {{ articolo.autore }} il {{ articolo.data_pubblicazione|date:"d/m/Y" }}</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
